<h1>New Photoshoot</h1>
<% if @photoshoot.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @photoshoot.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= render 'form' %>